{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
     <div class="col-lg-12">
          <div class="box-element">
               <h3 class="text-center">Register Customer</h3>
               <br>
               <br>
               <form action="" method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                         <legend class="border-bottom mb-4">Join Today</legend>
                         {{user_form.as_p}}
                         {{customer_form.as_p}}
                    </fieldset>
                    <div class="form-group">
                         <button class="btn btn-primary" type="submit">Register</button>
                    </div>
               </form>
               <div class="border-top pt-3">
                    <small class="text-muted">Already have an account? <a class="ml-2" href="#">Sign In</a></small>
               </div>
          </div>
     </div>
</div>
{% endblock %}